<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registro - Paso 4</title>
</head>
<body>

<nav th:replace="fragmentos/navbar::navbar"></nav>

<fieldset>
    <legend>Datos personales</legend>
    <ul style="list-style-type:none;">
        <li>Nombre:</li>
        <li>Apellidos:</li>
        <li>Fecha Nacimiento:</li>
        <li>Género:</li>
        <li>Nacionalidades:</li>
    </ul>
</fieldset>
<fieldset>
    <legend>Datos profesionales</legend>
    <ul style="list-style-type:none;">
        <li>Departamento:</li>
        <li>Salario:</li>
        <li>Comentario:</li>
    </ul>
</fieldset>
<fieldset>
    <legend>Datos bancarios</legend>
    <ul style="list-style-type:none;">
        <li>Cuenta corriente:</li>
    </ul>
</fieldset>
<a th:href="@{/paso1}">Volver al principio</a>
</body>
</html>