body {
    padding: 20px; /* Añade un poco de espacio alrededor del contenido */
}

.table-container {
    margin-top: 20px; /* Añade un margen superior a la tabla */
}

/* Estilo para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2; /* Color de fondo para las celdas de encabezado */
}

/* Ajustes para el botón de terminar partida */
.btn-terminar {
    margin-top: 20px; /* Añade un margen superior al botón */
}
